img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

p {
  text-align: justify;
  text-indent: 25px;
   width: 50%;
  margin: auto;
}

h3 {
   text-align: left;
  font-family: Lucida Console,Monospace;
  text-transform: uppercase;
}

h4 {
  text-align: left;
  font-family: Lucida Console,Monospace;
  text-transform: uppercase;
}

body {
  background-color: blue;
  color: white;
  font-family: Arial, sans-serif;
  width: 50%;
  margin: auto;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  font-family: Lucida Console,Monospace;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  margin: auto;
  
}

.skills-header {
  text-align: center;
  text-transform: uppercase;
  font-family: Lucida Console,Monospace;
  border-top: 2px solid black;
  width: 100%;
  margin: auto;
  
}

table, th, td{
  padding: 10px 10px 10px;
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  
}

th{
  text-align: center;
}

td{
  text-align: left;
}
